<div class="user-login-block">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" placeholder="Enter Username">
        </div>
        <div class="form-group">
            <label for="full-name">Full Name:</label>
            <input type="text" class="form-control" id="full-name" placeholder="Enter password">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password">
        </div>
        <div class="form-group">
            <label for="password">Confirm password:</label>
            <input type="password" class="form-control" id="pass-confirm" placeholder="Enter password">
        </div>
        <button type="button" id="register-request-button" class="btn btn-default">Register</button>
    </form>
    <a href="#/login">Login here</a>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>Electric Cars Blog - Team project for &ldquo;Software Technologies - June 2016&rdquo; course, part of Software University's JavaScript Dev program.</p>
            </div>
        </div>
    </div>
</footer>
