@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Cinzel);
.col-center {
    float: none;
    margin-right: auto;
    margin-left: auto;
}
body {
    padding-top: 70px;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.05em;
    font-size: 16px;
    nav {
        .container {
            .navbar-header {
                color: #4092D9;
                font-weight: bold;
                font-size: 1.1em;
                margin-bottom: 0;
            }
            .navbar-brand {
                color: #4092D9;
                font-weight: bolder;
                font-size: 1.3em;
                font-family: Cinzel;
                letter-spacing: none;
            }
            #bs-example-navbar-collapse-1 ul li a {
                font-weight: bold;
                text-transform: uppercase;
                font-size: 1em;
                color: black;
                &:hover {
                    color: #4092D9;
                    background-color: #F1F1F1;
                }
            }
        }
    }
    .wrapper {
        .main-content {
            .container {
                .row {
                    div {
                        ul {
                            list-style: none;
                            padding-left: 1.5%;
                            padding-right: 1.5%;
                            .single-post {
                                div {
                                    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
                                    border-radius: 10px;
                                    .panel-body {
                                        text-overflow: ellipsis;
                                        article {
                                            .title {
                                                margin-top: 0;
                                                font: 2em Open Sans;
                                                font-weight: bold;
                                                text-overflow: ellipsis;
                                            }
                                            .subtitle {
                                                font: 1em Open Sans;
                                                margin-left: 1%;
                                                text-overflow: ellipsis;
                                            }
                                            .content {
                                                font: 1em Open Sans;
                                                margin-left: 1%;
                                                word-wrap: break-word;
                                                text-overflow: ellipsis;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            //USER-LOGIN-BLOCK STYLES
            #user-login-block {
                border-radius: 10px;
                background-color: #f2f2f2;
                box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
                padding: 1%;
                text-align: center;
                div {
                    form {
                        text-align: center;
                        display: block;
                        input{
                          margin: 0 auto;
                          width: 90%;
                        }
                        #login-request-button,
                        #register-request-button {
                            font: 1em Open Sans;
                            padding: 1%;
                            margin-top: 3%;
                            margin-bottom: 2%;
                            font-weight: bold;
                            border-radius: 6px;
                            width: 70%;
                            color: white;
                            background-color: #4092D9;
                        }
                        label {
                            font-size: 1em;
                            color: #4092D9;
                            padding: 0 5px 5px;
                            text-align: center;
                            margin-top: 1%;
                            margin-bottom: 1%;
                        }
                    }
                }
            }
            //CREATE NEW-POST-BLOCK STYLES
            #new-post-block {
                border-radius: 10px;
                background-color: #f2f2f2;
                box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
                padding: 1%;
                text-align: center;
                form {
                    text-align: center;
                    display: block;
                    ul {
                        margin-bottom: 0.5%;
                        li {
                            display: inline-block;
                            padding-top: 1%;
                            background-color: #f2f2f2;
                            border: none;
                            margin-bottom: 0.5%;
                            .form-group {
                                font: 1em Open Sans;
                                margin-bottom: 2%;
                                label {
                                    font-size: 1em;
                                    color: #4092D9;
                                    padding: 0 5px 5px;
                                    text-align: center;
                                    margin-bottom: 0.5%;
                                }
                                input {
                                    border-radius: 10px;
                                    text-align: center;
                                    margin: 0 auto;
                                    background-color: white;
                                }
                            }
                        }
                    }
                    label {
                        font-size: 1em;
                        color: #4092D9;
                        padding: 0 5px 5px;
                        text-align: center;
                        margin-bottom: 0.5%;
                    }
                    .content-field {
                        outline: none;
                        border-radius: 10px;
                        text-align: left;
                        font-size: 1em;
                        padding: 10px;
                        width: 90%;
                        min-height: 200px;
                        &:focus {
                            font-size: 1em;
                            border: 3px solid #4092D9;
                        }
                    }
                    #create-new-post-request-button {
                        font: 1em Open Sans;
                        padding: 1%;
                        margin-bottom: 0.5%;
                        font-weight: bold;
                        border-radius: 6px;
                        width: 50%;
                        color: white;
                        background-color: #4092D9;

                    }
                }
            }
            nav{
              position: absolute;
              bottom: 50px;
              left: 0;
              right: 0;
            }
            footer {
                color: #4092D9;
                background-color: none;
                text-align: center;
                bottom: 0;
                left: 0;
                height: 50px;
                position: absolute;
                right: 0;
            }
        }
    }
}
